<!DOCTYPE html>
<html lang="fr">
<head>
	<title>accueil</title>
</head>
<body background="medias/c.jpg">


{%extends 'mise en page/base.html' %}
{% block content %}
<div>
	<img src="../static/images/abc.jpg" alt="fr">
	<div class="acceuil">
	<marquee DIRECTION="up" scrollamount="1 ">
	<h5>Bienvenue sur ma page d'acceuil</h5>
	<h6>Salut!</h6><br/><h6>
		Je suis Franchie Ndelah,étudiant en deuxième année de Génie Informatique<br/> à <i>l'Ecôle Communautaire de l'Enseignement Supérieur</i> en sigle ECES;<br/>Ce projet a été crée pour faciliter l'enregistrement des étudiants de<br/> mon école de façon automatique.
		Tout ceci a été fait grâce au framework Django.
		j'aime mon Ecole pour tout ce qu'elle fait pour moi.

	</h6>	
	</marquee>
</div>
</div>


{%endblock%}

</body>
</html>