<!DOCTYPE html>
<html lang="fr">
<head>
	<title>pied de page</title>
	
</head>
<body>
<footer>
	<div class="conteneur">
	<a href="http://www.franchiendelah@gmail.com" class="social"><div class="fond-twi"></div><img src="medias/twit.png" alt="social"></a>
	<a href="http://www.facebook.com/Franchie Ndelah" class="social"><div class="fond-face"></div><img src="medias/faces.png" alt="social"><div class="fond-twi"></div></a>
	
</div>
	<p style="font-size: 0.9em">&copy tous droits réservés<br/> </p>
	<a href="http://www.ecesecole.org" style="font-size: 1.1em;"> ECES</a>
</footer>
</body>
</html>

